.rotating_text_container {
  width: 50%;
  margin: auto;
  height: 100vh;
}
.rotating_text_box > h1 {
  margin-bottom: 2rem;
}
.rotating_text_tagline {
  display: flex;
  gap: 10px;
}
.rotatingText_styles {
  font-size: large;
  font-weight: 600;
  position: relative;
}

.cubespinner {
  transform-style: preserve-3d;
  transform-origin: 40px 40px 0;
  text-align: left;
}

.cubespinner .face1 {
  color: #fc7a69;
  transform: translateZ(20px);
  backface-visibility: hidden;
}
.cubespinner .face2 {
  color: #fc7a69;
  transform: rotateX(120deg) translateZ(20px);
  backface-visibility: hidden;
}
.cubespinner .face3 {
  color: #fc7a69;
  transform: rotateX(240deg) translateZ(20px);
  backface-visibility: hidden;
}

.animate_flipper {
  animation: flip 4s ease-in-out infinite;
}
@keyframes flip {
  /* from {
    transform: rotateX(0deg) translateZ(20px);
  }
  to {
    transform: rotateX(240deg) translateZ(20px);
  } */
  0% {
    transform: translateZ(20px);
  }
  50% {
    transform: rotateX(120deg) translateZ(20px);
  }
  100% {
    transform: translateZ(240deg) translateZ(20px);
  }
}
